
body {
	background-color: #171325;
	border-top: solid 3px #53d4e5;
	margin: 0;
}

h1, h2 {
	color: #fff;
}

ul {

}

li {
	list-style: none;
	text-indent: -40px;

}

a {
	color: turquoise;
	text-decoration: none;
}

#container {
	width: 1000px;
	height: auto;
	margin: 0 auto;
	background-color: pink;
	position: relative;	

}

#info-bin {
	height: auto;
	width: 250px;
	float: left;
	display: inline-block;
	padding: 20px;
	margin-top: 50px;
	border-right: solid 1px #fff;


}

#info-bin img {
	height: 100px;
	width: 100px;
	border-radius: 50px;
	margin-left: -150px;
	margin-top: 20px;
	position: absolute;
	border: solid 1px  #fff;
}


#work-bin {
	height: auto;
	width: 700px;
	margin: 0;
	float: right;
	display: inline-block;
}

#work-bin img {
	height: 300px;
	width: 600px;
	margin: 20px auto;
	float: right;
	border-radius: 3px;

}