
body {
	background-color: #171325;
	border-top: solid 3px #53d4e5;
	margin: 0;
}

h1, h3 {
	color: #E0DFE2;
}

ul {

}

li {
	list-style: none;
	text-indent: -40px;

}

a {
	color: #53d4e5;
	text-decoration: none;
}

#container {
	/*width: 1000px;*/
	width: 900px;
	height: auto;
	margin: 0 auto;
	background-color: pink;
	position: relative;	

}

#info-bin {
	height: auto;
	/*width: 250px;*/
	width: 200px;
	float: left;
	display: inline-block;
	padding: 20px;
	margin-top: 50px;
	border-right: solid 1px #E0DFE2;


}

#info-bin img {
	height: 80px;
	width: 80px;
	border-radius: 50px;
	margin-left: -120px;
	margin-top: 20px;
	position: absolute;
	border: solid 1px  #E0DFE2;
}


#work-bin {
	height: auto;
	width: 600px;
	margin: 0;
	float: right;
	display: inline-block;
	margin-top: 30px;
}

#work-bin img {
	height: 300px;
	width: 600px;
	margin: 20px auto;
	float: right;
	border-radius: 3px;

}